* {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font), -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  button {
    font-family: var(--font);
    cursor: pointer;
  }
  :root {
    --font: "Montserrat", sans-serif;
    --font2: "Open Sans", sans-serif;
    --color1: rgb(94, 211, 90);
    --color2: #b9b9b9;
    --color3: #282932;
    --color4: #89746e;
    --color5: #5c5255;
  
    --botonColor: #888;
    --botonColorHover: #444;
  
    --borderColor: #ccc;
    --border: solid 3px var(--borderColor);
  }
/* -----------------------main------------------- */
main {
    --headerH: 50vh;
    width: 100%;
    height: var(--headerH);
    background-color: #fff;
  }
  .mainContainer {
    width: 100%;
    height: var(--headerH);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .mainImage {
    min-width: 100%;
  }
  .mainImg {
    min-width: 100%;
  }
  .mainTitle {
    position: absolute;
    font-size: 1em;
    color: #434242;
    left: 3em;
  }
  .mainTitleBox {
    width: 12em;
    height: 8em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    border-bottom: var(--border);
    /* border-width: 10px; */
    border-color: #434242;
  }
  .mainTitleBox::after {
    content: "Camisas";
    padding-top: 0.5em;
    font-size: 2em;
    animation: beforeContent 12s infinite;
    opacity: 0;
  }
  
  @keyframes beforeContent {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
      content: "Sillones confort plus";
    }
  
    28% {
      opacity: 1;
      content: "Sillones confort plus";
    }
    33% {
      opacity: 0;
    }
    38% {
      opacity: 1;
      content: "Mesas de vanguardia";
    }
    62% {
      opacity: 1;
      content: "Mesas de vanguardia";
    }
    66% {
      opacity: 0;
    }
    71% {
      opacity: 1;
      content: "Sillas XXL";
    }
    95% {
      opacity: 1;
      content: "Sillas XXL";
    }
    100% {
      opacity: 0;
      content: "Sillas XXL";
    }
  }
  
  @media (orientation: portrait) {
    main {
      --mainH: 30vh;
    }
  }
/* --------------------catalogoFiltros-------------- */
.CatalogoFiltros {
    position: sticky;
    top: 2.5em;
    z-index: 30;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 4em;
    background-color: #fff;
    --inputColor: #fff;
    border-bottom: var(--border);
  }
  .CatalogoFiltros div {
    margin: 0 0.5em;
  }
  .buscador {
    border-radius: 2em;
    overflow: hidden;
    border: var(--border);
  }
  
  .buscador input,
  .buscador button {
    padding: 0.5em 1em;
    background-color: var(--inputColor);
  }
  .tags button {
    padding: 0.5em 1em;
    margin: 5px 2px;
    border-radius: 1em;
    background-color: var(--inputColor);
    border: var(--border);
    color: var(--botonColor);
    font-weight: 600;
    transition: all 0.3s;
  }
  .tags button:hover {
    color: var(--botonColorHover);
    border-color: var(--botonColor);
  }
  .tags button.on {
    --inputColor: var(--botonColorHover);
    color: #fff;
    border-color: var(--inputColor);
  }
  
  .genero button {
    font-size: 1.6em;
    height: 1.5em;
    width: 1.5em;
    margin: 0px 5px 5px 0;
    border-radius: 0.5em;
    background-color: var(--inputColor);
    color: #666;
    border: var(--border);
    transition: all 0.3s;
  }
  .genero button svg {
    pointer-events: none;
  }
  .genero button:nth-child(1):hover {
    color: rgb(34, 114, 206);
    border-color: rgb(34, 114, 206);
  }
  .genero button:nth-child(2):hover {
    color: rgb(211, 62, 119);
    border-color: rgb(211, 62, 119);
  }
  .genero button:nth-child(1).on {
    color: #fff;
    border-color: rgb(34, 114, 206);
    background-color: rgb(34, 114, 206);
  }
  .genero button:nth-child(2).on {
    color: #fff;
    background-color: rgb(211, 62, 119);
    border-color: rgb(211, 62, 119);
  }
/* ---------------productos------------------------ */
.Productos {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 2em;
    position: relative;
  }
  .ProductosContent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .showCarbtn {
    margin-top: 0.5em;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: right;
    z-index: 20;
  }
  .showCarbtn button {
    position: sticky;
    top: 5.1em;
    right: 0;
    width: 2em;
    height: 2em;
    border: var(--border);
    border-right: 0;
    border-radius: 0.4em 0 0 0.4em;
    font-size: 1.8em;
    pointer-events: all;
    transition: all 0.3s;
    background-color: #fff;
    color: var(--botonColor);
    overflow: hidden;
  }
  .showCarbtn button:hover {
    background-color: #ccc;
  }
  .showCarbtnAnim {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: -0.1em;
    transition: all 0.5s;
  }
  .showCarbtnAnim.on {
    margin-left: -2em;
  }
  .showCarbtnAnim svg {
    margin: 0 0.5em;
  }
  @media (max-width: 1000px) {
    .ProductosContent {
      justify-content: center;
    }
  }
  @media (max-width: 600px) {
    .Productos {
      padding: 2em 0;
    }
  }

/* ---------------------zio------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding: 2% 10%;
    z-index: 100000;
  }
  
  header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  header ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header ul li {
    position: relative;
    list-style: none;
  }
  
  header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #a79788;
  }
  
  .sticky {
    padding: 1% 10%;
    background: #fff;
  }
  
  .sticky .logo {
    color: #0f0f0f;
  }
  
  .sticky ul li a {
    color: #0f0f0f;
  }
  
  * {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  html {
    background-color: #0f0f0f;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  body {
    min-height: 200vh;
  }


@import 'nav';

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    background-color: #0f0f0f;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body{
    min-height: 200vh;
}

/* --------------------------co------------------------ */

footer {
    min-height: 10em;
    background-color: #333;
  }
  .footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2.5em;
    padding-top: 2em;
    min-height: 5em;
    color: #ddd;
    /* border: solid 3px var(--borderColor); */
  }
  .contactInfo {
    text-align: left;
    /* max-width: 15em; */
    width: calc(300px - 5em);
    font-size: 0.9em;
  }
  .contactInfo > h3 {
    border-bottom: var(--border);
    padding-bottom: 0.2em;
    letter-spacing: 1px;
  }
  .contactInfo > p {
    padding-top: 0.5em;
    padding-bottom: 2em;
  }
  .RightInfo {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .pageInfo {
    text-align: right;
    font-size: 0.9em;
  }
  
  .icons {
    font-size: 10em;
    text-align: right;
  }
  .icons svg {
    margin: 0.2em;
  }
  .icons svg:hover {
    color: #fff;
  }
  @media (max-width: 609px) {
    .pageInfo,
    .icons {
      text-align: left;
    }
  }
  @media (max-width: 450px) {
    .footerContent {
      margin: 0 0.5em;
    }
  }
  