@import 'nav';
@import 'medianav';
// @import 'section';

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

html{
    background-color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body{
    min-height: 200vh;
}

ul{
    padding: 0% !important;
    margin: 0% !important;
}

.icon{
    height: 30px;
    width: 30px;
}

#items{
    tr{
        th{
            img{
                width: 70px;
            }
        }
     }
}

.container{
    padding: 0% !important;
}

.card{
    display: flex;
    justify-content:end;
    position: relative;
    border-radius: 56px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  9px 9px 28px #929292,
             -9px -9px 28px #ffffff;

             img{
                border-radius: 56px;
                width: 400px;
            }

    

    .card-body{
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: end;
        align-items: center;
        // height: 100%;
        background-color: #00000053;
        border-radius: 0px 0px 56px 56px;
        backdrop-filter: blur(10px);
        color: #ffffff;
        
        .btn-dark{
            width:fit-content;
        }

    }        
  }

  #contenedorProductos > div{
      padding-bottom: 30px ;
  }

  #contenedorProductos{
      display: flex;
    flex-wrap: wrap;
    
     
  }
  #cardswrap{
      height: fit-content;

  }
