header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 2% 10%;
  z-index: 100;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #080808;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #080808;
  letter-spacing: 2px;
  font-weight: bolder;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/depositphotos_395608384-stock-photo-abstract-wallpaper-background-grunge-gray.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky {
  padding: 1% 10%;
  background: #212529;
}

.sticky .logo {
  color: #ffffff;
}

.sticky ul li a {
  color: #ffffff;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tienda-fixed {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 57px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(89%, white), color-stop(95%, rgba(0, 212, 255, 0)));
  background: linear-gradient(180deg, white 0%, white 89%, rgba(0, 212, 255, 0) 95%);
}

@media screen and (max-width: 767px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding: 2% 10%;
    z-index: 100;
  }
  header .logo {
    position: relative;
    font-weight: 700;
    color: #080808;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  header ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header ul li {
    position: relative;
    list-style: none;
    padding: 10px;
  }
  header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #080808;
    letter-spacing: 2px;
    font-weight: 500px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/depositphotos_395608384-stock-photo-abstract-wallpaper-background-grunge-gray.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
  }
  .sticky {
    padding: 1% 10%;
    background: #696969;
  }
  .sticky .logo {
    color: #ffffff;
  }
  .sticky ul li a {
    color: #ffffff;
  }
  #imgPresentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #imgPresentacion .borderRatio {
    height: 300px;
    width: 300px;
    padding-bottom: 20px;
  }
  .jumbotron {
    text-align: center;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

html {
  background-color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  min-height: 200vh;
}

ul {
  padding: 0% !important;
  margin: 0% !important;
}

.icon {
  height: 30px;
  width: 30px;
}
/*# sourceMappingURL=style.css.map */