.Igsabe{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    color: black; 
    font-family: initial inherit;
    
}
.lead__summary-content{
    text-align: center;
    color: #6d6b6b;
}
.carousel-caption{
    background-color: rgb(42, 40, 40);
}
.lead__summary-content{
    background-color: rgb(255, 255, 255);
}
.dlg3Sd{
    background-color: rgb(255, 255, 255);
}